# Ignore Paragon Content Files
Content/Dragon_Rise/**
Content/RealisticDesertPack/**
Content/Tactical_Fantasy_Sword/**
Content/ParagonGideon/**
Content/Gothic_Castle/**

# Include Paragon Blueprints
!Content/ParagonGideon/Characters/Heroes/Gideon/GideonPlayerCharacter.uasset
!Content/Tactical_Fantasy_Sword/Textures/Tactical_Fantasy_Sword_LHS_Transparent.png

# Ignore Folders
Content/StarterContent/**
DerivedDataCache/**
Intermediate/**
Saved/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
